@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "خطا 404";
    ViewData["Image"] = "Theme/img/Logo.png";
    ViewData["keywords"] = "آموزش زبان انگلیسی,آموزشگاه زبان انگلیسی,کلاس زبان انگلیسی,یادگیری زبان انگلیسی,آموزش زبان انگلیسی رایگان,آموزش زبان انگلیسی از صفر,آموزش زبان انگلیسی برای کودکان";
    ViewData["metaDescription"] = "خطای 404";
    ViewData["Url"] = "AccessDenied";
}
<section class="page-title bg-cover bg-header" style="background: url(/Theme/img/Banner11.jpg)no-repeat;" data-overlay="8">
</section>
<section class="error-wrap">
    <div class="container">
        <div class="row justify-content-center">
						
            <div class="col-lg-6 col-md-10">
                <div class="text-center">
								
                    <img src="assets/img/404.png" class="img-fluid" alt="">
                    <p style="font-size: 50px">404</p>
                    <a class="btn theme-bg text-white btn-md" asp-page="./Index">بازگشت به خانه</a>
								
                </div>
            </div>
						
        </div>
    </div>
</section>