@page "{activeCode}"
@model ServiceHost.Pages.ActiveAccountModel
@section Style
{
    <meta name='robots' content='noindex, nofollow' />
}
@{
    ViewData["Title"] = "فعالسازی حساب کاربری";
    ViewData["Image"] = "Theme/img/Logo.png";
    ViewData["keywords"] = "آموزش زبان انگلیسی,آموزشگاه زبان انگلیسی,کلاس زبان انگلیسی,یادگیری زبان انگلیسی,آموزش زبان انگلیسی رایگان,آموزش زبان انگلیسی از صفر,آموزش زبان انگلیسی برای کودکان";
    ViewData["Url"] = "ActiveAccount";
}
<section class="page-title bg-cover bg-header" style="background: url(/Theme/img/Banner11.jpg)no-repeat;" data-overlay="8">
</section>
<section>
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.Message) && Model.IsSuccess)
        {
            <div class="alert alert-success">
                <i class="fa fa-check"></i> @Model.Message
            </div>
            <br />
            <div class="col-md-12">
                <a class="btn btn-success" asp-page="./Login">ورود </a>
            </div>
            <br />
        }
        @if (!string.IsNullOrWhiteSpace(Model.Message) && !Model.IsSuccess)
        {
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i> @Model.Message
            </div>

        }
    </div>
</section>