@page "{id}"
@model ServiceHost.Pages.ChangePasswordModel
@section Style
{
    <meta name='robots' content='noindex, nofollow' />
}
@{
    ViewData["Title"] = "تغییر رمز عبور";
    ViewData["Image"] = "Theme/img/Logo.png";
    ViewData["keywords"] = "آموزش زبان انگلیسی,آموزشگاه زبان انگلیسی,کلاس زبان انگلیسی,یادگیری زبان انگلیسی,آموزش زبان انگلیسی رایگان,آموزش زبان انگلیسی از صفر,آموزش زبان انگلیسی برای کودکان";
    ViewData["Url"] = "ChangePassword";
}
<section class="page-title bg-cover bg-header" style="background: url(/Theme/img/Banner11.jpg)no-repeat;" data-overlay="8">
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
                <form method="post">
                    <div class="crs_log_wrap">
                        <div class="crs_log__thumb">
                            <img src="~/Theme/img/banner-8.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="crs_log__caption">
                            <div class="rcs_log_123">
                                <div class="rcs_ico"><i class="fas fa-lock"></i></div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                            {
                                <div class="alert alert-danger">
                                    @Model.ErrorMessage
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                            {
                                <div class="alert alert-success">
                                    @Model.SuccessMessage
                                </div>
                            }
                            <div class="rcs_log_124">
                                <div class="Lpo09"><h4>تغییر رمز عبور</h4></div>
                                <div class="form-group">
                                    <label>رمز عبور</label>
                                    <input type="password" name="password" class="form-control" placeholder="******" required="" />
                                </div>
                                <div class="form-group">
                                    <label> تکرار رمز عبور</label>
                                    <input type="password" name="repassword" class="form-control" placeholder="******" required="" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn full-width btn-md theme-bg text-white">تغییر رمز عبور</button>
                                </div>
                            </div>
                        </div>
                        <div class="crs_log__footer d-flex justify-content-between">
                            <div class="fhg_45"><p class="musrt">هنوز ثبت نام نکرده اید؟ <a asp-page="Signup" class="theme-cl">ثبت نام</a></p></div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>