@page
@model ServiceHost.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
    ViewData["Image"] = "Theme/img/Logo.png";
    ViewData["keywords"] = "آموزش زبان انگلیسی,آموزشگاه زبان انگلیسی,کلاس زبان انگلیسی,یادگیری زبان انگلیسی,آموزش زبان انگلیسی رایگان,آموزش زبان انگلیسی از صفر,آموزش زبان انگلیسی برای کودکان";
    ViewData["metaDescription"] = "شما می توانید در سایت لنگوتاپ در صورت فراموش کردن روز عبور خود جهت تغییر پسورد خود اقدام کنید.";
    ViewData["Url"] = "ForgotPassword";
    ViewData["author"] ="Elyas Zare";
}
<section class="page-title bg-cover bg-header" style="background: url(/Theme/img/Banner11.jpg)no-repeat;" data-overlay="8">
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
					
            <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
                <form method="post">
                    <div class="crs_log_wrap">
                        <div class="crs_log__thumb">
                            <img src="~/Theme/img/banner-8.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="crs_log__caption">
                            <div class="rcs_log_123">
                                <div class="rcs_ico"><i class="fas fa-lock"></i></div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.Message))
                            {
                                <div class="alert alert-secondary">
                                    @Model.Message
                                </div>
                            }
                            <div class="rcs_log_124">
                                <div class="Lpo09"><h4>فراموشی رمز عبور</h4></div>
                                <div class="form-group">
                                    <label>ایمیل خود را وارد کنید</label>
                                    <input type="email" name="email" class="form-control" placeholder="support@example.com" required="" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn full-width btn-md theme-bg text-white">فراموشی رمز</button>
                                </div>
                            </div>
                        </div>
                        <div class="crs_log__footer d-flex justify-content-between">
                            <div class="fhg_45"><p class="musrt">هنوز ثبت نام نکرده اید؟ <a asp-page="Signup" class="theme-cl">ثبت نام</a></p></div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>