@page
@model ServiceHost.Pages.TeachingModel
@{
    ViewData["Title"] = "تدریس در لنگوتاپ";
    ViewData["Image"] = "Theme/img/Logo.png";
    ViewData["keywords"] = "آموزش زبان انگلیسی,آموزشگاه زبان انگلیسی,کلاس زبان انگلیسی,یادگیری زبان انگلیسی,تدریس زبان انگلیسی,تدریس انگلیسی,تدریس در لنگوتاپ";
    ViewData["metaDescription"] = "لنگوتاپ به عنوان یک پلتفرم متفاوت آموزش زبان انگلیسی ایجاد شده است، شما می توانید با لنگوتاپ در تولید محتوا به ما کمک کنید و برای خود کسب درامد کنید.";
    ViewData["Url"] = "Aboutus";
    ViewData["author"] = "Elyas Zare";
@section Schema
{
    <script type="application/ld+json">
{
  "@@context": "https://schema.org",
  "@@type": "Organization",
  "name": "لنگوتاپ | LangoTop",
  "url": "https://langotop.ir/",
  "logo": "https://langotop.ir/Theme/img/logo.png",
  "alternateName": "لنگوتاپ | LangoTop",
  "sameAs": [
    "https://instagram.com/langotop",
    "https://youtube.com/@@langotop"
  ],
  "contactPoint": [
    {
      "@@type": "ContactPoint",
      "telephone": "+98 920 073 1235",
      "contactType": "customer service",
      "email": "contact@LangoTop.ir",
      "contactOption": "TollFree",
      "areaServed": "IR",
      "availableLanguage": "fa"
    }
  ]
}
    </script>
}
}
<section class="page-title bg-cover bg-header" style="background: url(/Theme/img/Banner11.jpg)no-repeat;" data-overlay="8">
</section>
<section class="page-title gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title font-2">تدریس در لنگوتاپ</h1>
                    <nav class="transparent">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item"><a asp-page="./Index">خانه</a></li>
                            <li class="breadcrumb-item active theme-cl" aria-current="page">تدریس در لنگوتاپ</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-between mt-5">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="lmp_thumb">
                    <img src="~/Theme/img/news.png" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="lmp_caption">
                    <h1 class="mb-3 font-2">کسب درامد از لنگوتاپ</h1>
                    <p>
                        لنگوتاپ یک پلتفرم آموزشی در حوزه زبان انگلیسی است که از اساتید با تجربه در این حوزه دعوت به همکاری می نماید
                        <br />
                        اگر تمایل دارید در زمینه تولید محتوا زبان انگلیسی در لنگوتاپ فعالیت کنید از طریق لینک های زیر می توانید با ما در تماس باشید.
                    </p>
                    <p>تلگرام: <a href="https://t.me/LangoTopAdmin" target="_blank" rel="nofollow">LangoTopAdmin@@</a></p>
                    <p>واتساپ: <a href="https://api.whatsapp.com/send?phone=989200731235" target="_blank" rel="nofollow">989200731235+</a></p>
                </div>
            </div>
        </div>

    </div>
</section>
