<section class="p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="crp_box fl_color ovr_top">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141"><i class="fa fa-journal-whills"></i></div>
                                <div class="dro_142">
                                    <h6>دوره آموزشی</h6>
                                    <p>ما در لنگوتاپ در تلاشیم هر روزه دوره های آموزش زبان انگلیسی جدیدی ایجاد کنیم</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-1"><i class="fa fa-business-time"></i></div>
                                <div class="dro_142">
                                    <h6>پشتیبانی مادام العمر</h6>
                                    <p>شما در لنگوتاپ می توانید از پشتیبانی رایگان استفاده کنید</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-3"><i class="fa fa-user-shield"></i></div>
                                <div class="dro_142">
                                    <h6>زبان آموز</h6>
                                    <p>ما در لنگوتاپ در تلاشیم زبان آموزان را با سطح بالا معرفی کنیم</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>