<section class="pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-between mt-5">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="lmp_thumb">
                    <img src="~/Theme/img/AboutBanner-min.png" class="img-fluid" alt="درباره لنگوتاپ" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="lmp_caption"> 
                    <h2 class="mb-3 font-2">آموزش زبان انگلیسی</h2>
                    <p>لنگوتاپ به عنوان یک پلتفرم متفاوت آموزش زبان انگلیسی ایجاد شده است، که با بهره گیری از اساتید با تجربه و حرفه ای دوره های آموزش زبان انگلیسی برگزار می کند
                        ما در لنگوتاپ تلاش داشته ایم بستری کاملا آموزشی و کاربردی برای تمام سطوح از مبتدی تا پیشرفته را با بهترین کیفیت آموزشی ایجاد کنیم.</p>
                    <p>اگر شما قصد استفاده از آموزش های آنلاین برای یادگیری زبان انگلیسی را دارید لنگو تاپ یکی از بهترین گزنه های برای شماست.</p>
                    <div class="foot-news-last mt-4">
                        <div class="input-group">
                            <input type="text" class="form-control brd" placeholder="ایمیل خود را وارد کنید...">
                            <div class="input-group-append">
                                <button type="button" class="input-group-text theme-bg b-0 text-light">عضویت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>