@using _0_Framework.Application
@model _01_Query.Contracts.MenuQueryModel
@inject IAuthHelper _authHelper
@{
    var accountInfo = _authHelper.CurrentAccountInfo();
    bool isAuthenticated = _authHelper.IsAuthenticated();
}
<div class="header header-transparent change-logo">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" asp-page="./Index">
                    <img src="~/Theme/img/LangoTopLogoSite4Artboard 1.png" class="logo" alt=" لنگو تاپ" />
                </a>
                <div class="nav-toggle"></div>
                <div class="mobile_nav">
                    <ul @*class="nav-menu nav-menu-social align-to-left"*@>
                        @if (isAuthenticated)
                        {
                            <li class="account-drop">
                                <a href="javascript:void(0);" class="crs_yuo12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="embos_45"><i class="fas fa-shopping-basket"></i><i class="embose_count" id="cart_items_count_Mobile">0</i></span>
                                </a>
                                <div class="dropdown-menu pull-right animated flipInX">
                                    <div class="drp_menu_headr bg-purple">
                                        <h4>سبد خرید</h4>
                                    </div>
                                    <div class="ground-list ground-hover-list">
                                        <div id="cart_items_wrapper_mobile">

                                        </div>
                                        <div class="ground ground-list-single">
                                            <a asp-page="/Checkout" class="btn theme-bg text-white full-width">مشاهده سبد</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="btn-group account-drop">
                                    <a href="javascript:void(0);" class="crs_yuo12 btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Pictures/@accountInfo.ProfilePicture" class="avater-img" alt="">
                                    </a>
                                    <div class="dropdown-menu pull-right animated flipInX">
                                        <div class="drp_menu_headr">
                                            <h4>سلام، @accountInfo.Fullname</h4>
                                        </div>
                                        <ul>
                                            <li><a href="/Dashboard"><i class="fa fa-tachometer-alt"></i>پیشخوان<span class="notti_coun style-1">4</span></a></li>
                                            <li><a href="/Dashboard/Profile"><i class="fa fa-user-tie"></i>پروفایل کاربری</a></li>
                                            <li><a href="/Dashboard/Courses"><i class="fas fa-shopping-basket"></i>دوره های من<span class="notti_coun style-2">7</span></a></li>
                                            <li><a href="/Dashboard/Message"><i class="fas fa-comments"></i>پیام ها</a></li>
                                            <li><a asp-page="/Login" asp-page-handler="Logout"><i class="fa fa-unlock-alt"></i>خروج</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                        }
                        else
                        {
                                <li>
                                    <a asp-page="./Login" class="crs_yuo12 w-auto text-white theme-bg">
                                        <span class="embos_45"><i class="fas fa-sign-in-alt ml-1 rotate-img"></i>ورود</span>
                                    </a>
                                </li>
                        }
                    </ul>
                    </div>
            </div>
            <div class="nav-menus-wrapper">
                <ul class="nav-menu">

                    <li class="active">
                        <a asp-page="./Index">خانه</a>
                    </li>

                    <li>
                        <a asp-page="./Courses" asp-route-id="1">دوره های آموزشی<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            @foreach (var item in Model.CourseCategories)
                            {
                                <li><a asp-page="/CourseCategory" asp-route-id="@item.Slug">@item.Name</a></li>
                            }
                        </ul>
                    </li>
                    <li><a asp-page="./Blog" asp-route-id="1">وبلاگ</a></li>
                    <li><a asp-page="./AboutUs">درباره ما</a></li>
                    <li><a asp-page="./contactus">تماس با ما</a></li>
                    <li><a asp-page="./Teaching">تدریس در لنگوتاپ</a></li>

                </ul>

                <ul class="nav-menu nav-menu-social align-to-left">

                    @if (isAuthenticated)
                    {
                        <ul class="nav-menu nav-menu-social align-to-left">
                            <li class="account-drop">
                                <a href="javascript:void(0);" class="crs_yuo12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="embos_45"><i class="fas fa-shopping-basket"></i><i class="embose_count" id="cart_items_count">0</i></span>
                                </a>
                                <div class="dropdown-menu pull-right animated flipInX">
                                    <div class="drp_menu_headr bg-purple">
                                        <h4>سبد خرید</h4>
                                    </div>
                                    <div class="ground-list ground-hover-list" >
                                        <div id="cart_items_wrapper">

                                        </div>
                                        <div class="ground ground-list-single">
                                            <a asp-page="/Checkout" class="btn theme-bg text-white full-width">مشاهده سبد</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="btn-group account-drop">
                                    <a href="javascript:void(0);" class="crs_yuo12 btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Pictures/@accountInfo.ProfilePicture" class="avater-img" alt="">
                                    </a>
                                    <div class="dropdown-menu pull-right animated flipInX">
                                        <div class="drp_menu_headr">
                                            <h4>سلام، @accountInfo.Fullname</h4>
                                        </div>
                                        <ul>
                                            <li><a href="/Dashboard"><i class="fa fa-tachometer-alt"></i>پیشخوان<span class="notti_coun style-1">4</span></a></li>
                                            <li><a href="/Dashboard/Profile"><i class="fa fa-user-tie"></i>پروفایل کاربری</a></li>
                                            <li><a href="/Dashboard/Courses"><i class="fas fa-shopping-basket"></i>دوره های من<span class="notti_coun style-2">7</span></a></li>
                                            <li><a href="/Dashboard/Message"><i class="fas fa-comments"></i>پیام ها</a></li>
                                            <li><a asp-page="/Login" asp-page-handler="Logout"><i class="fa fa-unlock-alt"></i>خروج</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <li>
                            <a asp-page="./Login">
                                <i class="fas fa-sign-in-alt ml-1 rotate-img"></i><span class="dn-lg">ورود</span>
                            </a>
                        </li>
                        <li class="add-listing theme-bg">
                            <a asp-page="./Signup" class="text-white">ثبت نام</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>