 <!-- ============================ Call To Action ================================== -->
 @model _01_Query.Contracts.FooterQueryModel
 <section class="theme-bg call_action_wrap-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call_action_wrap">
                    <div class="call_action_wrap-head">
                        <h3 class="font-2">آیا سوالی دارید؟</h3>
                        <span>برای دریافت پشتیبانی و مشاوره رایگان</span>
                    </div>
                    <a asp-page="./Contactus" class="btn btn-call_action_wrap">همین حالا تماس بگیرید</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Call To Action End ================================== -->
<!-- ============================ Footer Start ================================== -->
<footer class="dark-footer skin-dark-footer style-2">
    <div class="footer-middle">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-7 ml-auto">
                    <div class="row" style="margin-right: 0px; margin-left: 0px" >
                        <div class="col-lg-4 col-md-6">
                            <div class="footer_widget">
                                <h4 class="widget_title">درباره لنگوتاپ</h4>
                                <p>لنگوتاپ به عنوان یک پلتفرم متفاوت آموزش زبان انگلیسی ایجاد شده است، که با بهره گیری از اساتید با تجربه و حرفه ای دوره های آموزش زبان انگلیسی برگزار می کند
                                    ما در لنگوتاپ تلاش داشته ایم بستری کاملا آموزشی و کاربردی برای تمام سطوح از مبتدی تا پیشرفته را با بهترین کیفیت آموزشی ایجاد کنیم.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="footer_widget">
                                <h4 class="widget_title">بخش ها</h4>
                                <ul class="footer-menu">
                                    <li><a asp-page="/Index">خانه</a></li>
                                    <li><a asp-page="./Aboutus">درباره ما</a></li>
                                    <li><a asp-page="./Contactus">تماس با ما</a></li>
                                    <li><a asp-page="./Courses" asp-route-id="1">آموزش زبان انگلیسی</a></li>
                                    <li><a asp-page="./Blog"  asp-route-id="1">مقالات</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="footer_widget">
                                <h4 class="widget_title">لینک های مفید</h4>
                                <ul class="footer-menu">
                                   @foreach (var banner in Model.Banners)
                                   {
                                       <li><a href="@banner.Link" target="_blank">@banner.Title</a></li>
                                   }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="footer_widget">
                        <img src="~/Theme/img/LangoTopLogoSite4Artboard 1.png" class="img-footer small mb-2" alt="" />
                        <h4 class="extream mb-3 font-2">همین حالا با لنگوتاپ شروع کنید!</h4>
                        <p>هر ماه با عضویت در خبرنامه ما از به‌روزرسانی‌ها،آموزش‌ها و تخفیف‌ها باخبر شوید.</p>
                        <div class="foot-news-last">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="ایمیل">
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text theme-bg b-0 text-light">عضویت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 text-center">
                    <p class="mb-0">تمامی حقوق مادی و معنوی این سایت متعلق به لنگوتاپ می باشد و هرگونه کپی برداری غیرقانونی محسوب خواهد شد</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ============================ Footer End ================================== -->